@inherits WebAppComponentBase

@using WebApp.Client.Common.Extensions
@using WebApp.Client.Components.Common.LoadingWrapper
@using WebApp.Client.Components.Common.WebAppComponentBase
@using WebApp.Client.Store.TeamStore
@using WebApp.Common.Models

@inject IState<TeamState> TeamState

<div class="wa_table__container">
    <div class="wa_table__header">
        <MudText Typo="@Typo.h6">@("NFL Teams")</MudText>
        <hr class="wa_hr__purpleGradient" style="margin: 15px 0px 15px 0px;" />
    </div>
    <SkeletonLoadingWrapper IsLoading=@IsLoading() Width="100%" Height="30rem">
        <div class="wa_table__overflowContainer">
            <MudTable Items="@TeamState.Value.Teams.Values" Hover="true" SortLabel="Sort By" AllowUnsorted="false" Dense="true" Breakpoint="Breakpoint.None" Class="wa_table__mudOverrides">
                <HeaderContent>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<Team, object>(x => x.TeamId)">
                            <MudText Typo="Typo.subtitle2">@("Team ID")</MudText>
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<Team, object>(x => x.TeamFullName)" InitialDirection="SortDirection.Ascending">
                            <MudText Typo="Typo.subtitle2">@("Name")</MudText>
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<Team, object>(x => x.Division)">
                            <MudText Typo="Typo.subtitle2">@("Division")</MudText>
                        </MudTableSortLabel>
                    </MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Team ID"><MudText Typo="Typo.body2">@context.TeamId</MudText></MudTd>
                    <MudTd DataLabel="Name"><MudText Typo="Typo.body2">@context.TeamFullName</MudText></MudTd>
                    <MudTd DataLabel="Division"><MudText Typo="Typo.body2">@context.Division</MudText></MudTd>
                </RowTemplate>
            </MudTable>
        </div>
    </SkeletonLoadingWrapper>
</div>

@code 
{
    protected override void OnInitialized()
    {
        MaybeDispatchAndTrack(new TeamActions.LoadTeams());
        base.OnInitialized();
    }
}
